{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="row banner2">
    <div class="col-md-12">
        <h2>About Us</h2>
    </div>
</div>
<!--row end-->
        <div class="row p-4 banner3">
            <div class="col-md-3">
                <h2 class="myfont">Everything. Right where you need it.</h2>
                <hr>
                <h2 class="myfont">Here luxury is always preferred !</h2>
            </div>
            <div class="col-md-8">
                <p>
                    Unwind the ravishing charm to spend a memorable vacation with your loved ones in the heart of Zirakpur bathinda. bathinda is known to be the city of parks, architectural design, with a sync of traditional hospitality to welcome guests and visitors for entertaining vacation. To get the enchanting view of the city people love to hop on to a Caleche and roam around the city to experience loveable evenings. bathinda covers good collection of garden, lake, art & craft station,cool-spot, building,inns, villa,and hotel setting a unique trend to traditional and contemporary décor.
</p>
<p>
Feel free to visit the exotic destination and have the joy of getting yourself indulge in absurd collection to funkiest fleapit to palace rides. This is the reason bathinda attracts several travellers and guests to its arena,especially to Hotel Sapphire.It tops the chart of several holiday makers who are keen to have expedition for local culture dwelled sideby bathinda. The modern part of area is fun-filled with hotello shopping complex, bank square, cafeterias, eateries,strolls and pleasing souvenirs. Make some of the perfect choices to luxurious hotels in bathinda. Just 5 min drive from Airport, it is best Hotel near bathinda Airport. bathinda is all year around destination to visit that enjoys maximum tmperature with least rainfall.However,tourists love to visit this place from October to May.</p>
            </div>
        </div>
         <!--row end-->
        <div class="row p-4 ">
            <div class="col-md-4"data-aos="zoom-in-down">
                
                <img src="{% static 'h9.jpg' %}" height="300" width="300">
            </div>
            <div class="col-md-4"data-aos="zoom-in-up">
                <img src="{% static 'h10.jpg' %}" height="300" width="300">
            </div>
            <div class="col-md-4" data-aos="flip-down">
                <img src="{% static 'h2.jpg' %}" height="300" width="300">
            </div>
        </div>

         <!--row end-->
         <div class="row p-4">
          <div class="col-md-12 bg-secondary text-light  p-4 text-center rounded-1">
                
                <h1 class="text center">Book Early & Save</h1>
                <p><h3 class="center para">Book early and save up to 15% with us...</h3></p>

                <a href="/booking/"><button class ="btn-warning">BOOK NOW</button></a>

            </div>
        </div>
        <!--row end-->

        {% endblock %}