{% extends 'base.html' %}
{% load static %}
{% block content %}
       <div class="row"id= "banner">
        <div class="col-md-12">
        
        <div class="col-md-12 p-5">
     
            <div class="col-md-6">
               
                

                <h1 class="text center display-4">Enjoy The Experience</h1>
            </div>
        </div>
           
        <div class="col-md-12 p-2">
             <p><h2 class="center para">Everything you can dream about, available here,just for &#8377;1100 per night</h2></p>
            </div>
       
            </div>
        </div>
            
            <!--header end-->
            <div class="row p-4 banner3">
                <div class="col-md-12 text-center mb-4">
                <h2 class="font-weight-light">Our Best Rooms</h2>
            </div>
                           
                  <div class="col-md-3"data-aos="zoom-in-down">
                     <div class="card ">
                      <div class="card-img">
                          <img src="{% static '1.png' %}" height="300" width="100%">
                            <div class="p-4">
                             <h3 >Standart One Person Room</h3>
                                <p >the classic is eguipped with desk and chair,2single beds,TV and plenty of storage</p>
                               
                                <a href="/booking/"><button class ="btn btn-warning">BOOK NOW</button></a>
                                
                                    </div>
                                     </div>
                                   
                                    </div>
                                </div>
                            
                                <div class="col-md-3"data-aos="zoom-in-down">
                                    <div class="card">
                                        <div class="card-img">
                                            <img src="{% static '2.png' %}" height="300" width="100%">
                                            <div class="p-4">
                                            <h3>Deluxe Twin Room</h3>
                                               <p>Designed for practicality and comfort,these con-temporary-styled room feature floor to</p>
                                              
                                               <a href="/booking/"><button class ="btn btn-warning">BOOK NOW</button></a>
                                
                                        </div>
 
                                        </div>
                                        
                                    </div>
                                </div>
                            
                                <div class="col-md-3"data-aos="zoom-in-down">
                                    <div class="card">
                                        <div class="card-img">
                                            <img src="{% static '1-11.jpg' %}" height="300" width="100%">
                                            <div class="p-4">
                                            <h3>Deluxe King Room</h3>
                                            <p>These hotello hotel rooms come with king size beds,views of the hotel's strik.ing atrium</p>
                                            <a href="/booking/"><button class ="btn btn-warning">BOOK NOW</button></a>
                                
                                        </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            
                            
                                <div class="col-md-3"data-aos="zoom-in-down">
                                    <div class="card">
                                        <div class="card-img">
                                      <img src="{% static 'rr4.jpg' %}" height="300" width="100%">
                                      <div class="p-4">
                                            <h3>Studio Broadway Room</h3>
                                            <p>Classic Rooms in the our Hotel have been refur- bished to a vary high stan- dard.Our class</p>
                                            <a href="/booking/"><button class ="btn btn-warning">BOOK NOW</button></a>
                                      </div>
                                        </div>
                                       
                                    </div>
                                </div>
            </div>
                
                      <!--row end-->
                                    <div class="row p-4 ">
                                        <div class="col-md-12 bg-secondary text-light p-4 text-center rounded-1" style="height: 400px;">
                                            <h1 class="text-center">Book Early & Save</h1>
                                            <br>
                        
                                            <div class="col-md-12 p-2">
                                            <p><h3 class="center text para ">Book early and save up to 15% .
                                                Offering 65 stylish rooms packed with modern amenities and the first rooftop revolving restaurant lounge and bar, with delectable multi cuisines We serve only vegetarian food. </h3></p>
                                            <br>
                                            <a href="/booking/"><button class ="btn btn-warning">BOOK NOW</button></a>
                            
                                        </div>
                                    </div>
                                    </div>
                                    <div class="row p-4 ">
                                <div class="col-md-4"data-aos="zoom-in">
                            
                                    <img src="{% static 'f1.jpg' %}" height="80" width="80">
                                    
                                    <h3>Enjoy free Wi-Fi</h3>
                                    <p>We believe that when a hotel advertises free WiFi, they should provide travelers with a fast and reliable connection. </p>
                                    </div> 
                                    <div class="col-md-4"data-aos="zoom-in">
                                        <img src="{% static 'hsr1.png' %}" height="80" width="80">
                                      <h3>Concierge service</h3>
                                        <p>Top-tier hotels have a lot to recommend them: luxurious spas, twice-daily room service and superb on-site restaurants.</p>
                                        </div>

                                        <div class="col-md-4"data-aos="zoom-in">
                                            <img src="{% static 'hsr2.png' %}" height="80" width="80">
                                    
                                            <h3>Pool access</h3>
                                                <p>Hotel has pool room,in particular,hotels based in big cities might require keycard access to get intothe pool.spa,and amenity access</p> 
                                        </div>
                                    </div>
                                    <div class="row p-4 banner3 ">
                                        <div class="col-md-6">
                                  

                                            <img src="{% static 'res.webp' %}"height="400"width="450" data-aos="zoom-out-right"/>
                                    </div>
                                    <div class="col-md-6 p-5 ">
                                        <h1>Our Restaurant</h1>
                                        <p>A restaurant is a business that prepares and service food and drinks to customers. Meals are generally served and eaten on the primises,but many restaurants also offer take-out and food delivery service.</p>
                                        
                                        
                                        <a href="/service/"><button class ="btn btn-warning">LEARN MORE</button> </a>
                                    </div>
                                    <div class="col-md-6 p-5">
                                        <h1>Spa & Fitness</h1>
                                        <p>In a hotel,the spa and wellnwss facilities are where people go to exercise and have special treatments in order to improve their health. The spa and wellness facilities include a sauna and treatment rooms.The spa and wellness facilities include a sauna and gym.</p>
                                       
                                        <a href="/service/"><button class ="btn btn-warning">LEARN MORE</button> </a>
                                    </div>
                                     <div class="col-md-6">
                                        <img src="{% static 'spa.jpg' %}"height="400"width="450" data-aos="zoom-out-right"/>


                                    </div>
                                    </div>
                                </div>
                                   
                                    <!--row end-->
                                    <div class="row p-4 banner3">
                                       
                                        <h3 class="text-center">AMENITIES</h3>
                                    
                                            <div class="col-md-4"data-aos="zoom-in">
                                                <p><img src="{% static 'kk4.png'%}"height="20"width="20"/>
                                                A/C</p>
                                                <p> <img src="{% static 'kk4.png'%}"height="20"width="20"/>
                                                LED</p>
                                                <p><img src="{% static 'kk4.png'%}"height="20"width="20"/>
                                                Dish TV</p>
                                                <P><img src="{% static 'kk4.png'%}"height="20"width="20"/>
                                                Wi-Fi</p>
                                                <p><img src="{% static 'kk4.png'%}"height="20"width="20"/>
                                                Telephone / Intercom</p>
                                                <p><img src="{% static 'kk4.png'%}"height="20"width="20"/>
                                                Mini Bar</p>
                                                <P><img src="{% static 'kk4.png'%}"height="20"width="20"/>
                                                Tea -Coffee Maker</p>
                                                <P><img src="{% static 'kk4.png'%}"height="20"width="20"/>
                                                    Sofa / Chair / Coffee Tables</p>
                                                    
                                                 
                                          </div>
                                          <div class="col-md-4"data-aos="zoom-in">
                                            <P><img src="{% static 'kk4.png'%}"height="20"width="20"/>
                                            Attached Bathrooms</h5>
                                            <P><img src="{% static 'kk4.png'%}"height="20"width="20"/>
                                            Bath Toiletries</p>
                                            <P><img src="{% static 'kk4.png'%}"height="20"width="20"/>
                                            24 hours running hot and cold water</p>
                                            <P><img src="{% static 'kk4.png'%}"height="20"width="20"/>
                                            Spotless Linen & Towels</p>
                                            <P><img src="{% static 'kk4.png'%}"height="20"width="20"/>
                                            Comfortable Mattress</p>
                                            <P><img src="{% static 'kk4.png'%}"height="20"width="20"/>
                                            Cupboards</p>
                                            <P><img src="{% static 'kk4.png'%}"height="20"width="20"/>
                                            Work Desks</p>
                                            <P><img src="{% static 'kk4.png'%}"height="20"width="20"/>
                                            Study Chairs</p>
                                    </div>
                                    <div class="col-md-4"data-aos="zoom-in">
                                        <P><img src="{% static 'kk4.png'%}"height="20"width="20"/>
                                            Travel Desk</p>
                                        <P><img src="{% static 'kk4.png'%}"height="20"width="20"/>
                                            Railway Station / Airport Transfer</p>
                                        <P><img src="{% static 'kk4.png'%}"height="20"width="20"/>
                                            Laundry services</p>
                                        <P><img src="{% static 'kk4.png'%}"height="20"width="20"/>
                                            Restaurant / Dining Areas</p>
                                        <P><img src="{% static 'kk4.png'%}"height="20"width="20"/>
                                            Room Service</p>
                                        <P><img src="{% static 'kk4.png'%}"height="20"width="20"/>
                                            Doctor on Call</p>
                                        <P><img src="{% static 'kk4.png'%}"height="20"width="20"/>
                                            Parking</p>
                                    </div>
                                   
                                    </div>
                                     <!--row end-->
                                    
                                    
                        {% endblock %}