{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="row banner2">
  <div class="col-md-12">
      <h2>service</h2>
  </div>
</div>
<!--row end-->
<div class="row p-5">
    <div class="col-md-4">
        <img src="{% static 'd1.jpg' %}"height="150"width="150"data-aos="zoom-in"> 
        </div>
        <div class="col-md-6">
        <h3 class="text center">BREAKFAST</h3>
    <p>A breakfast brings many benefits to guests that accommodation providers may not initially think of. A satisfying breakfast adds ease and comfort to a guest’s stay, making it a far more pleasant experience overall.</p>
        </div>
    
    
    
        <div class="col-md-4">
            <img src="{% static 's5.jpg' %}"height="200"width="200"data-aos="zoom-in">
        </div>
        <div class="col-md-6">
            <h3 class="text center">KITCHEN</h3>
        <p>The Restaurant Table and Kitchen Management software module within hotello Hotel Management System can bring more convenience for customers and staff alike.
        This module can be customised to allow for online restaurant reservation system so that customers can reserve tables from anywhere with internet access. Recording of customers’ names and  table number allocation can be done through the system without needing a separate restaurant reservation software.
           It can also act as kitchen and restaurant software. Food orders from diners can be converted to kitchen orders, to inform kitchen staff about dishes to prepare.
          More functions of this module can be found in the List of Features.</p>
        
    </div>


    <div class="col-md-4">
        <img src="{% static 'j1.jpg' %}"height="200"width="200"data-aos="zoom-in">  
        </div>
        <div class="col-md-6">
        <h3 class="text center">RESTAURANT</h3>
    <p>
      A restaurant POS system is the software and hardware that restaurant operators use to run their entire business: from taking orders to managing the floor plan, reservations, reporting on sales, doing inventory counts, scheduling staff and pricing their menu.</p>
    
</div>
</div>
<!--row end-->

<div class="row p-3" data-aos="fade-down"
data-aos-easing="linear"
data-aos-duration="1500">
  <div class="col-md-3">
<img src="{% static 'pich5.png' %}"height="200"width="200">
  </div>
  <div class="col-md-3">
    <img src="{% static 'sh1.jpg' %}"height="100"width="100">
    <p>Leave your Car and Conceens Behind with Us!</p>
      </div>
      <div class="col-md-3">
        <img src="{% static 'sh5.png' %}"height="200"width="200">
          </div>
          <div class="col-md-3">
            <img src="{% static 'sh6.jpg' %}"height="100"width="100">
            <p>Open doors to a World of Unparalleled Hospitality</p>
              </div>
              <div class="col-md-3">
                <img src="{% static 'c3.jpg' %}"height="100"width="100">
                <p>Sit back and sweat it Out!</p>
                  </div>
                  <div class="col-md-3">
                    <img src="{% static 'sh7.png' %}"height="200"width="200">
                    </div>
                    <div class="col-md-3">
                      <img src="{% static 'sh10.jpg' %}"height="100"width="100">
                      <p>Stay connected,All Through Your Stay</p>
                        </div>
                        <div class="col-md-3">
                          <img src="{% static 'sh9.png' %}"height="200"width="200">
                        </div>
                        <div class="col-md-3">
                          <img src="{% static 'sh12.png' %}"height="200"width="200">
                            </div>
                            <div class="col-md-3">
                              <img src="{% static 'sh13.jpg' %}"height="100"width="100">
                          <p>Make your Mornings with A lavish Buffet Spead</p>
                            </div>
                            <div class="col-md-3">
                              <img src="{% static 'sh14.png' %}"height="200"width="200">
                                </div>
                                <div class="col-md-3">
                                  <img src="{% static 'sh15.jpg' %}"height="100"width="100">
                                  <p>Your heath.Our Concerm</p>
                                </div>
                                <div class="col-md-3">
                                  <img src="{% static 'sh17.jpg' %}"height="100"width="100">
                                  <p>Sip into some mixed up happiness</p>
                                    </div>
                                    <div class="col-md-3">
                                      <img src="{% static 'sh16.png' %}"height="200"width="200">
                                     
                                    </div>
                                    <div class="col-md-3">
                                      <img src="{% static 'sh18.jpg' %}"height="100"width="100">
                                      <p>Allow Us to call move about</p>
                                        </div>
                                        <div class="col-md-3">
                                          <img src="{% static 'sh18.png' %}"height="200"width="200">
                                         
                                        </div>
    

</div>
<!--row end-->


<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static 'h2.jpg'%}" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{% static 'h3.jpg'%}" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{% static 'h6.jpg'%}" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  
  <!--row end-->
    
       {% endblock %}
